In [2]:
import pandas as pd 
df1 = pd.DataFrame({'HPI': [80,85,88,85], 'Int_rate': [1,2,3,4] ,'US_GDP_Thousands': [50,55,65,55]}, index = [2001,2002,2003,2004])
df2 = pd.DataFrame({'HPI': [80,85,88,85], 'Int_rate': [6,7,8,9], 'US_GDP_Thousands': [322,32,3,4]}, index = [2005,2006,2007,2008])
df3 = pd.DataFrame({'HPI': [80,85,88,85], 'Int_rate': [10,11,12,13], 'Low_tier_HPI': [50,55,65,55]}, index = [2001,2002,2003,2004])

In [5]:
# concat multiple dataframes
df4 = pd.concat([df1, df2,df3],ignore_index=True)
s = pd.Series([8000,2,50], index = ['HPI', 'Int_rate', 'US_GDP_Thousands'])

#append series to dataframe
df4 = pd.concat([df4,s.to_frame().T], ignore_index=True)
df4

     HPI  Int_rate  US_GDP_Thousands  Low_tier_HPI
0     80         1              50.0           NaN
1     85         2              55.0           NaN
2     88         3              65.0           NaN
3     85         4              55.0           NaN
4     80         6             322.0           NaN
5     85         7              32.0           NaN
6     88         8               3.0           NaN
7     85         9               4.0           NaN
8     80        10               NaN          50.0
9     85        11               NaN          55.0
10    88        12               NaN          65.0
11    85        13               NaN          55.0
12  8000         2              50.0           NaN